<h1>Sign up</h1>
As a member of this blog, you will be able to add comments to posts. Moderators and Admins will be able to remove your comments if they see fit.
<p>
<%= form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
    	<h3>Warning: form is invalid</h3>
    	<ul>
    		<% @user.errors.full_messages.each do |message| %>
    		<li><%= message %></li>
    		<% end %>
    	</ul>
	</div>
 <% end %>

   <div class="row collapse">
   	<div class="small-1 columns">
      <%= f.label :username, class: 'right inline' %></div>
   <div class="small-11 columns"><%= f.text_field :username, :autofocus => true %></div>
   </div>

   <div class="row collapse">
   	<div class="small-1 columns">
      <%= f.label :email, class: 'right inline' %></div>
   <div class="small-11 columns"><%= f.email_field :email %></div>
   </div>

   <div class="row collapse">
   	<div class="small-1 columns">
      <%= f.label :password, class: 'right inline' %></div>
   <div class="small-11 columns"><%= f.password_field :password %></div>
   </div>

   <div class="row collapse">
   	<div class="small-1 columns">
      <%= f.label :password_confirmation, class: 'right inline' %></div>
   <div class="small-11 columns"><%= f.password_field :password_confirmation %></div>
   </div>

   <div class="row collapse">
   	<div class="controls"><%= f.submit "Save", class: "button" %></div>
   </div>
<% end %>
