<h2>Hi <%= current_user.username %>, this is your page</h2>
  <div class="media-body">
    <% if current_user.avatar? %>
    Your avatar:<br />
      <%= image_tag current_user.avatar.url, class: 'pull-left' %>
    <% end %>
    <br />
    <br />
    <% if can? :edit, @user %>
    <%= link_to 'Account Settings', edit_user_path(current_user) %>
    <% end %>
    <br />
    <br />
  </div>
  <br />
  <h4>You made <%= pluralize(current_user.comments.count, 'comment') %> on this blog:</h4><br />
    <% current_user.comments.order('created_at DESC').each do |comment| %>
    <%= comment.user.username %> said: "<%= comment.body %>" <%= time_ago_in_words(comment.created_at) %> ago on <%= link_to comment.post.title, comment.post %>.
    <small>
      <br />
        <% if can? :destroy, comment %>
        <%= link_to 'Delete comment', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </small>
    <br />
    <br />
  <% end %>
