<div class="large-12 colums">
  <p><img src="http://placehold.it/1000x400&text=[Yacht/Aviation]" /></p>
  </div>
	<h3>Latest posts:</h3>
	<div class="media-body" >
    <% @posts.order('created_at DESC').limit(4).each do |post| %>
  	<h4 class="media-heading">
	<%= link_to post.title, post %></h4>
	<%= truncate post.text, length: 190 %> <%= link_to 'read more', post %><br />
	<small>
	Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %>
	<% if can? :edit, @post %>
	<%= link_to 'Edit', edit_post_path(post) %><% end %> |
	<% if can? :destroy, @post %>
	<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %><br /><% end %>
	<%= post.comments.count %> Comments
	</small>
	<p>
  <% end %>
</div>
<br />
<br />