<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row collapse">
    <div class="small-1 columns">
       <%= f.label :title, class: "right inline" %>
      </div>
       <div class="small-11 columns"><%= f.text_field :title %></div>
  </div>
  <div class="row collapse">
      <div class="small-1 columns">
        <%= f.label :text, class: "right inline" %>
      </div>
        <div class="small-11 columns"><%= f.text_field :text %></div>
      </div>
  <div class="row collapse">
        <div class="small-11 small-offset-1 columns"><%= f.submit class: "button" %></div>
  </div>
<% end %>