<h1>All posts</h1>
<div class="media-body">
  <% @posts.order('created_at DESC').each do |post| %>
  	<h4 class="media-heading">
	<%= link_to post.title, post %></h4>
	<small>
	Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %>
	<% if can? :edit, @post %> 
	<%= link_to 'Edit', edit_post_path(post) %> |
	<% end %>
	<% if can? :destroy, @post %> 
	<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %><br />
	<% end %>
	</small>
	<div id="post-style">
		<%= image_tag(post.image.thumb.url) if post.image? %>
	</div>
	<%= truncate post.text, length: 450 %> <%= link_to 'read more...', post %><br />
	<small>
	<%= post.comments.count %> Comments
	</small>
  <% end %>
  <br />
</div>

<br />
<%= link_to '<< Home', root_path %>