<h2><%= @post.title %></h2>
<small><%= image_tag (@post.user.avatar.tiny.url) if @post.user.avatar? %>Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.username %></small><br />
<p>
<p>
<%= markdown @post.text %>
<p>
<h4>There are currently <%= @post.comments.count %> comments</h4>
<%= render @post.comments %>
<p>
<% if can? :create, Comment %>
<h4>Add a comment as <%= current_user.username %></h4>
<%= render "comments/form" %>
<% end %>

<% if can? :edit, @post %> 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<% end %>
<%= link_to '<< Back to all posts', posts_path %>
<p>